In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read from mockup data 
mockup_gamedata = pd.read_csv("mockupGameData.csv")

In [3]:
mockup_gamedata.head()

,Name,ReleaseDate,Price,GlobalSales,Metacritic,ReccomendationCount,CopiesSold,PlatformWindows,PlatformLinux,PlatformMac,...,MMO,GenreIndie,GenreAction,GenreAdventure,GenreCasual,GenreStrategy,GenreRPG,GenreSports,GenreRacing,GenreMassMultiplayer
0,Halo 4,Nov 1 2000,49.99,82.74,88,68991,9140731,1,1,1,...,1,0,1,0,0,0,1,0,0,1
1,Kingdom Hearts 3,Apr 1 1999,50.99,40.24,0,2439,753627,0,0,0,...,0,0,1,1,0,0,1,0,0,0
2,Tales of Berseria,May 1 2003,29.99,35.82,79,2319,1709740,1,1,1,...,0,1,1,1,0,0,1,0,0,0
3,The World Ends With You,Jun 1 2001,19.99,33.00,50,888,789676,0,0,0,...,0,1,1,0,0,1,1,0,0,0
4,Animal Crossing,Nov 1 1999,59.99,31.37,80,2934,705741,0,0,0,...,1,0,0,0,1,0,0,0,0,1